<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>register</title>
    <link rel="stylesheet" href="/static/Css/Registrarse.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container register-form">
      <div class="form">
        <div class="note">
          <p>Welcome to fithub innovations, register here</p>
        </div>
        <form method="POST" action="/controlregistro">
        <div class="form-content">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="text"
                  name="nombre"
                  class="form-control"
                  placeholder="Nombres"
                  value=""
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="apellido"
                  class="form-control"
                  placeholder="Apellido"
                  value=""
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="cedula_usuario"
                  class="form-control"
                  placeholder="Cedula"
                  value=""
                />
              </div>
              <div class="form-group">
                <input
                  type="date"
                  name="fecha_nac"
                  class="form-control"
                  value=""
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  value=""
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  placeholder="Confirm Password *"
                  value=""
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="email"
                  class="form-control"
                  placeholder="Email*"
                  value=""
                />
              </div>
            </div>
          </div>
          <button type="submit" class="btnSubmit">Submit</button>
        </div>
      </form>
      </div>
    </div>
  </body>
</html>
