{% extends'administrador/controlUsuarios.html' %}

{% block nombreUsuario %}
    {{ dataLogin.nombre }}
{% endblock %}

{% block titulo %}
Control Administradores
{% endblock %}

{% block table_content %}

<tbody>
    {% for usuario in usuarios %}
    <tr>
        <td>
            <span class="custom-checkbox">
                <input type="checkbox" id="checkbox1" name="options[]" value="1" />
                <label for="checkbox1"></label>
            </span>
        </td>
        <td> {{usuario[0]}}</td>
        <td> {{usuario[1]}}</td>
        <td> {{usuario[2]}}</td>
        <td> {{usuario[5]}}</td>
        <td> {{usuario[6]}}</td>
        <td> {{usuario[9]}}</td>
        <td> {{usuario[8]}}</td>
        <td>
            <a href="#editEmpleadoModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                    title="Edit">&#xE254;</i></a>
            <a href="#EliminarEmpleadoModal" class="delete" data-toggle="modal"><i class="material-icons"
                    data-toggle="tooltip" title="Delete">&#xE872;</i></a>
        </td>
    </tr>
    {% endfor %}



</tbody>
</tr>
{% endblock %}